# Node.js modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Vite build output
.vite/
.vitepress/
*.cache/

# Editor settings
*.sublime-project
*.sublime-workspace
.vscode/
.idea/

# Ignore compiled files
*.lock
*.log

# Others
coverage/
*.bak
*.tmp
